
<div class="col-md-4 col-sm-5 col-sx-6">
    <span class="h5">My movies list</span>&nbsp;
    <button class="btn btn-success btn-sm" ng-click="addMovie()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
</div>

<div class="col-md-8 col-sm-7 col-sx-6 text-left">
    Search for <input type="text" ng-model="query" class="form-search" />
    <input type="button" ng-click="" class="btn-search" value="Search" />
</div>

<div class="clearfix"></div>

<div class="col-md-4 col-sm-5 col-sx-6">
    <div class="leftside">
        <div ng-repeat="movie in movies | filter:query">

              <div ng-click="showDetails(movie)" class="divitem">
                <h4>{{movie.name}}</h4>
                <i class="dark">{{movie.style}}</i>
              </div>

        </div>
    </div>
</div>

<div class="col-md-8 col-sm-7 col-sx-6">

    <div ng-hide="showMovie" class="">

        <div ng-hide="showNewMovie" class="pad10 text-center shift-down">
            <h5>Select a movie from the list</h5>
        </div>
        <div ng-show="showNewMovie" class="pad10 text-left">
            <div style="width: 640px">
                <form novalidate="">
                    <div class="form-group">
                        <label>Id</label>
                        <input type="text" ng-model="newMovie.id" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" ng-model="newMovie.name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Author</label>
                        <input type="text" ng-model="newMovie.author" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>URL</label>
                        <input type="text" ng-model="newMovie.url" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Style</label>
                        <input type="text" ng-model="newMovie.style" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" ng-click="addMovie_save(newMovie)" value="Add new movie (to local storage)" class="btn btn-md btn-success" />
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div ng-show="showMovie" class="pad10">

            <iframe id="ytplayer" type="text/html" width="640" height="390"
              src="{{ trustSrc(selectedMovie.id )}}" frameborder="0"/>

        <div class="clearfix"></div>

        <div style="width: 640px">
            <form novalidate="">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" ng-model="selectedMovie.name" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Author</label>
                    <input type="text" ng-model="selectedMovie.author" class="form-control" />
                </div>
                <div class="form-group">
                    <label>URL</label>
                    <input type="text" ng-model="selectedMovie.url" class="form-control disabled" readonly />
                </div>
                <div class="form-group">
                    <input type="submit" ng-click="revert(selectedMovie)" value="Revert (reload from source)" class="btn btn-md btn-warning" />
                    <input type="submit" ng-click="update(selectedMovie)" value="Save (to local storage)" class="btn btn-md btn-success" />
                </div>
            </form>
        </div>

    </div>



</div>
